image:
  repository: jserban23/transaction-viewer
  tag: latest

service:
  port: 80
  targetPort: 8000
  enabled: true

env:
  db:
    host: transaction-db-live
    port: "5432"
    name: transactions
    user: postgres
    password: postgres

isActive: enabled
