mode: stable # Can be set to canary to enable canary deployment


ingress:
  canaryWeight: 20

image:
  repository: jserban23/transaction-ingestor
  tag: latest

service:
  port: 80
  targetPort: 8000

env:
  db:
    host: transaction-db-live
    port: "5432"
    name: transactions
    user: postgres
    password: postgres
